<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BMI CALCULATOR</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

</head>

<body class="main">
    <h1>Body Mass Index Calculator</h1>
  <div>
    <form class="pure-form" method="post"action='/'>
    <label>Enter your weight in kg: </label>
    <input type="text" name="weight">
    <br><br>
    <label>Enter your Height in cm: </label>
    <input type="text" name="height">
    <br><br>
    <button type="Calculate" class="pure-button pure-button-primary" value="Calculate">CALCULATE</button>
    </form>
  </div>

<br>

<div>
  {% if bmi %}
     <p>Your BMI is: {{ bmi }}</p>
     <p>Your Category: {{bmi_category}}</p>
    
     {% if bmi_category == 'Under weight' %}
            <p>You are underweight. It's time to start working out and gaining some weight!.</p>
     
      {% elif bmi_category == 'Healthy weight' %}
            <p>Congratulations! You are maintaining a healthy weight. Keep it up!</p>
      
      {% elif bmi_category == 'Over weight' %}
         <p>You are overweight. It's time to start working out and getting healthy!</p>
      
      {% elif bmi_category == 'Obesity' %}
         <p>You are obesity. It's crucial to prioritize your health and consider consulting with a healthcare professional for guidance on weight management strategies.</p>
     
     {% endif %} 
  {% endif %}
</div>


    </body>
</html>
